<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="*{title}">dbblog | Posts</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
  </head>
  <style th:fragment="font">
    body {font-family: 'Trebuchet MS', sans-serif;}
  </style>
  <body class="background">
    <div class="topnav" th:fragment="menu">
      <a th:href="@{/public/posts}">
        <img class="logo" th:src="@{/images/DB-blog-logo.png}">
      </a>
      <a th:href="@{/public/posts}" th:text="#{menuAllPostsKey}"></a>
      <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/private/posts/post}" th:text="#{menuCreatePostKey}"></a>
      <a th:if="${#authorization.expression('hasAnyRole(''ROLE_USER'')')}" th:href="@{/login}" th:text="#{logoutKey}"></a>
      <a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" th:href="@{/login}" th:text="#{logoutKey}"></a>
      <a sec:authorize="!hasAnyRole('ROLE_ADMIN', 'ROLE_USER')" th:href="@{/login}" th:text="#{loginKey}"></a>
      <a th:text="#{hello} + ${#authentication.name}"></a>
      <a style="float:right" th:href="@{?lang=lt}">
        <img class="flag" th:src="@{/images/LT-flag.png}">
      </a>
      <a style="float:right" th:href="@{?lang=en}">
        <img class="flag" th:src="@{/images/UK-flag.png}">
      </a>

    </div>
  </body>
</html>