<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/fragments :: head('DBblog | Create comment')"></head>
  <body class="background">
    <div th:replace="fragments/fragments :: menu"></div>
    <h3 th:text="#{createCommentKey}"></h3>
    <form th:action="@{/private/posts/{id}/comments/create(id=${postId})}" th:object="${comment}" method="post">
      <div>
        <div th:text="#{textKey}"></div>
        <textarea type="text" rows="10" cols="50" th:field="*{text}"></textarea>
      </div>
      <div>
        <input type="Submit" th:value="#{submitKey}">
      </div>
    </form>
  </body>
</html>