<html xmlns:th="https://www.thymeleaf.org">
  <head th:replace="fragments/fragments :: head('DBblog | Edit post')"></head>
  <body class="background">
    <div th:replace="fragments/fragments :: menu"></div>
    <h3 th:text="#{editPostKey}"></h3>
    <form th:action="@{/private/posts/edit/{id}(id=${post.getId()})}" th:object="${post}" method="post">
      <div>
        <div th:text="#{userIdKey}"></div>
        <input type="text" th:field="*{userId}">
      </div>
      <div>
        <div th:text="#{headerKey}"></div>
        <input type="text" th:field="*{header}">
      </div>
      <div>
        <div th:text="#{textKey}"></div>
        <textarea type="text" rows="20" cols="50" th:field="*{text}"></textarea>
      </div>
      <div>
        <input type="Submit" th:value="#{submitKey}">
      </div>
    </form>
  </body>
</html>