<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="fragments/fragments :: head('DBblog | All posts')"></head>
  <style th:replace="fragments/fragments :: font"></style>
  <body class="background">
    <div th:replace="fragments/fragments :: menu"></div>
    <div class="postBlock" th:each="post: ${posts}">
      <h4 class="right" th:text="${usersMap.get(post.getUser().getId())}"></h4>
      <p  class="right" th:text="${post.getDateAndTime()}"></p>
      <h2><a th:text="${post.getHeader()}" th:href="@{/public/posts/{id}(id=${post.getId()})}"></a></h2>
      <div><img th:src="@{https://picsum.photos/150?random={id}(id=${post.getId()})}"></div>
      <p class="short-text" th:text="${post.getText()}"></p>
<!--      <div>-->
<!--        <a th:text="#{editPostKey}" th:href="@{/posts/{id}/edit(id=${post.getId()})}"></a>-->
<!--        <a th:text="#{createCommentKey}" th:href="@{/posts/{id}/comments/comment(id=${post.getId()})}">Create comment</a>-->
<!--      </div>-->
    </div>
    <div class="pages">
      <a th:href="@{/public/posts(page=${currentPage -1})}"> < </a>
      <span th:each="page: ${#numbers.sequence(0, totalPages -1)}">
        <a th:href="@{/public/posts(page=${page})}" th:text="${page + 1}"></a>
      </span>
      <a th:href="@{/public/posts(page=${currentPage +1})}"> > </a>
    </div>
  </body>
</html>




